# Diretórios e arquivos gerados automaticamente pelo Unity e não necessários para versionamento
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/

# Capturas e gravações temporárias
[Mm]emoryCaptures/
[Rr]ecordings/

# Ferramentas de terceiros
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
.vs/
.gradle/
ExportedObj/
.consulo/

# Plugins específicos
Assets/Plugins/Editor/JetBrains*

# Relatórios de crash e informações de sistema gerados automaticamente
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.opendb
sysinfo.txt

# Pacotes gerados pelo Unity ou exportados
*.unitypackage

# Arquivos de compilação
*.apk
*.aab
*.app
*.exe
*.dll

# Dados dos Addressables gerados automaticamente
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Arquivo do Crashlytics
crashlytics-build.properties
